@import"mixins";


@include respond-to(phone) {
    .aui div.people-directory-portlet {
        
        input.simple-search-keywords {
            width: 90%;
        }
        
        .field-value, .profile-description dt {
            width: 100%;
        }
        
        .more-info {
            width: 100%;
            padding: 10px;
            
            .profile-info-table {
            	width: 90%;
            }
        }
        
        .lfr-search-container {
            overflow: hidden;
        }
        
        .summary-box {
            padding-left: 0;
            width: 100%;
            div.more-info table tr td {
                padding-left: 0;
            }
            .mail a {
                word-wrap:break-word;
            }
        }
        
        .searchcontainer {
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            tr {
                border: 1px solid #ccc;
                
                /* Hides template */
                &.lfr-template {
                	display: none;
                }
            }
            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 40%;
                min-height:20px;
                a {
                    word-wrap: break-word;
                }
            }
            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                content: attr(cell-data);
            }
        }
        
        dl.profile-description {
			overflow: visible;
			dt {
				width: auto;
			}
		}
		
		.skype-users-to-call {
			#users li {
				display: block;
				text-align: center;
				margin-right: 0;
				
				.handle {
 					float: right;
 				}
			}
 			hr {
 				margin: 20px 0;
 			}
		}
		
		.hangouts-users-to-call {
			#hangouts-users li {
				display: block;
				text-align: center;
				margin-right: 0;
				
				.handle {
 					float: right;
 				}
			}
 			hr {
 				margin: 20px 0;
 			}
		}
		
		.pagination {
            li {
                display: none;
                a {
                    padding: 10px 5px;
                }
            }
            li.first-pagination-control,
            li.last-pagination-control,
            li.pagination-control,
            li.active {
                display: inline;
            }
        }
		
    }
}

@include respond-to(phone, tablet) {
    .aui div.people-directory-portlet {
    	input.simple-search-keywords, button {
    		font-size: 14px;
		}
	}
}