@import url(main_responsive.css);


#people-directory-container {
    border: 1px solid #C3C3C3;
    border-radius: 10px 10px 0px 0px;
    background: #E3E3E3;
    color: #5D5D5D;
    padding: 10px;
}

input.simple-search-keywords {
    width: 35%;
}

.business-card {
    border:2px solid #a1a1a1;
    padding:10px 40px;
    width:300px;
    border-radius:25px;
    margin-bottom: 15px;
}

.business-card .full-name{
    font-size: 15px;
    font-weight: bold;
}

.business-card .job-title{
    font-size: 15px;
}

.business-card .email-address{
    text-decoration: underline;
}

.small-profile-box {
	display: none;
    position: relative;
	width: 95%;
	background-color: white;
	display: block;
	border: 1px solid #5D5D5D;
    border-radius: 3px;
    padding: 2%;
    margin: 10px 0;
}

.small-photo-box {
	-moz-box-shadow: 0 0 2px 2px #888;
	-webkit-box-shadow: 0 0 2px 2px#888;
	box-shadow: 0 0 2px 2px #888;
	width: 55px;
	margin-left: 5px;
	float: left;
}

.field-value, .profile-description dt {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-family: 'Rokkitt',serif;
    display: block;
    width: 60%;
    padding-left: 10px;
    float: left;
}

.slide-up,
.slide-down {
    position: absolute;
    top: 2px;
    right: 2px;    
}

.slide-up {
	background: url("../images/minus.png") no-repeat scroll 0 0 transparent;
	width: 25px;
	height: 37px;
}

.slide-down {
	background: url("../images/plus.png") no-repeat scroll 0 0 transparent;
	width: 25px;
	height: 37px;
}

.profile-box {
	width: 100%;
	height: 245px;
	background-color: #DABD95;
    background-position: center bottom, left top;
    background-repeat: repeat-x;
    overflow: hidden;
    display: block;
    vertical-align: baseline;
    border: 1px solid #522F1D;
    border-radius: 3px;
}

.profile-box {
	width: 100%;
	height: 245px;
	background-color: #DABD95;
    background-position: center bottom, left top;
    background-repeat: repeat-x;
    overflow: hidden;
    display: block;
    vertical-align: baseline;
    border: 1px solid #522F1D;
    border-radius: 3px;
}

.about {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    width: 376px;
}

.profile-box .photo-inner {
    background: url("http://rbista.com/demos/zwin/images/photo-inner.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 212px;
    padding: 12px 0 0 20px;
    width: 164px;
}
.profile-box .photo-inner img {
    background-color: #FFFFFF;
}
.profile-box h1 {
    color: #FFFFFF;
    line-height: 1px;
    margin-top: 12px;
}
.profile-box h3 {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 0px;
    margin-top: -3px;
}

.profile-info-table {
	border: 0;
	cellpadding: 0;
	cellspacing: 0; 
    
    .field-value {
        width: 90%;
    }
    
    .info {
        word-break: break-word;
    }
    
}

.more-info {
    float: left;
    width: 60%;
    padding: 5px;
    .more-info-title  {
    	border-radius: 9px 9px 9px 9px;
    	padding-right: 10px;
	}
	
	.icon {
		margin-left: 10px;
	}
}

dl.profile-description {
	overflow: hidden;
}

dl.profile-description dd, dl.profile-description dt {
	float: left;
}

dl.profile-description dt {
	clear: left;
	padding: 0 0 10px;
	width: 100px;
}

.brief-wrapper {
    float: left;
    width: 65%;
    padding-left: 5px;
}

.summary-box{
    
	span.icon {
		font-size: 20px;
	}
    
    span.icon-skype, span.icon-phone {
        cursor: pointer;
    }
}

#articleView img {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	float:left;
	margin: 0 10px 10px 0;
	padding: 4px;
	width:150px;	
}

#articleView .article-body {
	margin-top: 4px;
}

#articleView {
	padding:15px;
	margin-bottom: -25px;
	position:relative;
}
#articleView h1 {
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 10px;
}
#articleView h2 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 0;
}
#articleView h3 {
	font-size: 11px;
	font-weight: normal;
	margin-top: 0;
}
#articleView h4 {
    padding-bottom: 20px;
}
#articleView ul, ol {
	list-style-position: inside;
}
#articleView .article-content {
position:relative;
}
#articleView .article-body {
margin-top: 10px;
}

#articleView .profile-info-title {
    border: none;
}

#articleView .profile-info-title h3.header-title {
    font-weight: bold;
    font-size: 18px;
}

#articleView .profile-info {
    float: left;
}

#articleView .profile-info span {
    display: block;
    padding-bottom: 20px;
}

#articleView .profile-info label {
    display: inline;
    font-weight: bold;
}

#articleView .clearfix {
    width: 100%;
}

.back-link {
	background: #727C81;
	margin: -24px 0 0 -24px;
    padding: 9px 24px 28px;
    width: 100%;
}


.back-link-url a {
	float: right;
	text-decoration: none;
	font-family: helvetica;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    color: #FFFFFF;
}


.configuration{
	margin-top: -28px;
}

.paginator-link.paginator-page-link {
	width: 25px;
	margin: 2px;
	text-align: center;
}

.paginator-link.paginator-page-link.paginator-current-page {
	color: #FFF;
}

select.paginator-rows-per-page {
	display: none;
}

div.people-directory-portlet {
    .small-profile-box {  
    	.clearfix {
        	width: 100%;
		}
		
		.contact-short-info {
			overflow: hidden;
			padding: 5px 12px;
			width: 100%;
			span {
				margin: 0 5px 0 0;
			}		
		}
	}
	
    .lfr-pagination {
        width: 100%;
    }
}

/* -------------- SKYPE INTEGRATION -------------- */

.skype-users-to-call {
	border: solid 1px #CCC;
	padding: 1em;
	margin: 2em 0;
	background-color: white;
}

.skype-users-to-call #users li {
	list-style: none;
	background: #DEF;
	padding: .5em;
	display: inline-block;
	margin: 0 .5em .5em 0;
	border: 1px solid #B5D2FF;
	
	.icon-skype, .icon-phone {
		margin-left: .5em;
	}
}

.skype-users-to-call button {
	min-width: 135px;
}

.skype-users-to-call #users li:hover {
	background: #CDE;
}

.skype-users-to-call .handle:after {
	content: "\f00d";
	width: 1em;
	height: 1em;
	font-family: 'fontawesome-alloy';
	padding: 0.5em;
	color: #b7414d;
	font-size: 1.2em;
}

.skype-users-to-call .handle {
 	cursor: pointer;
 }

 #people-directory-container .portlet-msg-error {
 	display: none;
 	margin-top: 1.5em;
 }
 
 #people-directory-container .alredy-in-list-msg {
 	display: none;
 }

#users {
	padding: 0;
	margin: 0;
}

.skype-users-to-call .action-header {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.skype-users-to-call .button-holder {
	margin: 10px 0 0;
}

.skype-users-to-call hr {
	margin: 0;
}

.icon-remove:hover {
    color: red;
}

#modal * {
	z-index: 300 !important;
}
